*{margin: 0; padding: 0;}
.bg-color {
    background: #27BECE;
}
.navbar-nav {
    flex-direction: row;
}
input.form-control {
    flex: 0.75 1 auto !important;
}
@media (max-width: 768px) {
    input.form-control {
        flex: 1 1 auto !important;
    }
}