*{margin: 0; padding: 0}
html, body {
    height: 100%;
    width: 100%;
}
.container-fluid
{
    background-color: #1F2024;
}   
#footer-top-list
{
    border: none;
    color: #878792;
    font-size: 17px;
    letter-spacing: -0.6px; 
    display: inline;
    background-color: #1F2024; 
    line-height: 18px;
    padding-bottom: 30px;
}
#footer-list
{
    border: none;
    color: aliceblue;
    margin-top: -15px;
    font-size: 15px;
    letter-spacing: -0.6px; 
    background-color: #1F2024; 
}
.footer
{
    background-color: #1F2024;
    height: 450px;
}
.bottom-footer
{
    margin-top: 40px;
    margin-bottom: 50px;
}
#top-footer-1
{
    background-color: #1F2024;
}
.top-footer
{
    padding-top: 40px;
    background-color: #1F2024;
    height: 60px;
}
.info-footer ,h6
{
    color: aliceblue;
    text-align: left;
    font-size: 12px;
}
#footer-copyright
{
    color: aliceblue;
    padding-bottom:30px;
    font-size: 12px;
    letter-spacing: 1px; 
    background-color: #1F2024; 
    margin-bottom: 0;
}
.main-title {
    border-bottom: solid #DDDDDD 1px;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    padding: 0px 0px 5px;
    margin: 0px 0px 20px;
    text-align: left;
}
span.title {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    margin-right: 10px;
    text-transform: uppercase;
    text-align: left;
}
a.option {
    background: #E7EDF1;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    padding: 7px 10px;
    text-align: left;
}
a.option:hover {
    background: #27bece;
    color: #fff;
    text-decoration: none;
}
/* Content */
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
}
.card-product .bottom-wrap {
    padding: 15px;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
.price-new
{
    color: red;
    font-weight: bold;
}

/*Detail*/
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 500px;
    display: inline-block;
    cursor: zoom-in;
}
.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.module-title a{
    display: inline;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color: #27bece;
    text-decoration: none;
}

/* Cart */
.product
{
    margin-top: 70px;
}
.cart-info
{
    margin-top: 70px;
}
#quantity
{
    text-align: center;
    border: none;
    font-size: 14px;
}
.lap-name
{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    width: 400px;
    height: 50px; 
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lap-price
{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #D0021B;
}
#delete-btn
{
    float:left;
    margin-top: 10px;
    text-decoration: none;
    color: #585353;
}
#delete-btn:hover
{
    color: #D0021B;
}
.info-cart
{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.total-cart
{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    float: right;
}
